[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
torch = "*"
seaborn = "*"
matplotlib = "*"
qdrant-client = "*"
sentence-transformers = "*"
transformers = "*"
django = "*"
fastapi = "*"
uvicorn = "*"
sentencepiece = "*"
django-cors-headers = "*"
djangorestframework = "*"
accelerate = "*"

[dev-packages]

[requires]
python_version = "3.10"
